<a href="https://colab.research.google.com/github/A-ops-lang/Assignmnet1/blob/main/Bonus%20Module%204_PT_DS11_EDA_Assignment_MG_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Autograded Notebook (Canvas & CodeGrade)

This notebook will be automatically graded. It is designed to test your answers and award points for the correct answers. Following the instructions for each Task carefully.

### Instructions

* **Download this notebook** as you would any other ipynb file
* **Upload** to Google Colab or work locally (if you have that set-up)
* **Delete `raise NotImplementedError()`**
* Write your code in the `# YOUR CODE HERE` space
* **Execute** the Test cells that contain `assert` statements - these help you check your work (others contain hidden tests that will be checked when you submit through Canvas)
* **Save** your notebook when you are finished
* **Download** as a `ipynb` file (if working in Colab)
* **Upload** your complete notebook to Canvas (there will be additional instructions in Slack and/or Canvas)

# Pixeltests Data Science - Unit 1 Sprint 1 Module 1

## Exploratory Data Analysis

### Module Learning Objectives


- Load a CSV dataset from a URL using `pandas.read_csv`
- Load a CSV dataset from a local file using `pandas.read_csv
- Use basic Pandas functions for Exploratory Data Analysis-EDA
- Describe and discriminate between basic data types such as categorical, quantitative, continuous, discrete, ordinal, nominal and identifier

### Notebook points: 12

## Autograded Module Projects

Welcome to the first Module Project of Unit 1! You will complete a project (sometimes also referred to as an assignment) after the Guided Project for each Module. There will be four Module Projects per Sprint and each project is designed to provide you with an opportunity to practice what you learned in the Canvas Warm-up material and the Guided Project with your Instructors.

Throughout Unit 1, the Module Projects and the Sprint Challenges are *autograded*. You will complete your work in a Jupyter/Python notebook (the files that end with `.ipynb`) and then upload your completed notebook to Canvas and submit for grading. This autograding process will check your answers and provide more information about the errors in your notebook. You'll receive a score when the testing is complete.

So, let's get started! If you are reading this notebook, then you have the correct autograded version.

## Introduction

For this module, we learned how to use some of the most common tools for exploring our data. We'll continue to practice our `pandas` skills with a new dataset.

## Dataset Description

Explore the University of California - Irvine Adult Dataset

**Task 1** - Load a dataset via its URL

* Create a Python list named `column_headers` with the following items: `'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week','native-country', 'income'`.  Lists have the form `listname = ['element 1', 'element 2', element 3']`
* Load the file from the URL provided below using the `column_headers` list you created to name your columns: set the `pd.read_csv()` to `column_headers` using `names =`.  
* Name the DataFrame `adult`

In [2]:
# Task 1
import pandas as pd
import numpy as np

# URL for the dataset
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

# YOUR CODE HERE
adult = pd.read_csv(data_url)

column_headers=('age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week','native-country', 'income')

adult =pd.read_csv( 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data' , names= column_headers )



# Print out your DataFrame
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**Task 1 Test**

In [ ]:
# Task 1 - Test

# These tests are for you to check your work before submitting
assert isinstance(column_headers, list), 'Have you created a list of header names?'
assert len(column_headers) == 15, 'Did you include the correct number of items in the column_headers list?'
assert isinstance(adult, pd.DataFrame), 'Have you created a DataFrame named adult?'

# These tests will be completed when you submit your notebook for autograding

AssertionError: Have you created a list of header names?

**Task 2** - Look at the first and last rows of the DataFrame

* Assign the first **ten (10)** rows of the `adult` DataFrame to `adult_head`
* Assign the last **ten (10)** rows of the `adult` DataFrame to `adult_tail`

In [3]:
# Task 2

# YOUR CODE HERE

adult_head = adult.head(10)

adult_tail = adult.tail(10)


# Optional: print out adult_head and adult_tail

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

**Task 2 Test**

In [ ]:
# Task 2 - Test

# These tests are for you to check your work before submitting
assert isinstance(adult_head, pd.DataFrame), 'Have you created a DataFrame named adult_head?'
assert isinstance(adult_tail, pd.DataFrame), 'Have you created a DataFrame named adult_tail?'

# These tests will be completed when you submit your notebook for autograding

**Task 3** - Variable data types

For your `adult` DataFrame, determine the data types for the variables.

* Count the number of `int64` variable types and assign to `number_int64` (your value should be an integer)
* Count the number of `object` variable types and assign to `number_object` (your value should be an integer)

There are different ways to find the data types of the columns in a DataFrame. All you need to do for this task is to count the number of each data type and assign to the corresponding variable.

**Task 3 Test**

In [ ]:
# Task 3 - Test



# Hidden tests - you will see the results when you submit to Canvas

In [ ]:
# Task 3

# YOUR CODE HERE

raise NotImplementedError()

numbers_int64 = (adult.dtypes =='int64').sum()
numbers_object = (adult.dtypes == 'object').sum()

print('numbers of int64 is', numbers_int64)
print('numbers of object is', numbers_object)

numbers of int64 is 6
numbers of object is 9

**Task 4** - DataFrame dimensions

* Find the dimensions of your DataFrame and assign result to the variable `adult_dimension`. Your variable should be a *tuple* and the row dimension should be listed first.

Hint: A tuple looks like this: (1, 2) - a tuple is a collection which is ordered and unchangeable. You can use the function `type(your_variable)` to print the variable type.

Hint 2: The `shape` method returns a tuple - convenient!

In [9]:
# Task 4

# YOUR CODE HERE

adult_dimension = adult.shape

# Print out the shape
print(adult_dimension)

(32561, 15)

**Task 4** - DataFrame dimensions

* Find the dimensions of your DataFrame and assign result to the variable `adult_dimension`. Your variable should be a *tuple* and the row dimension should be listed first.

Hint: A tuple looks like this: (1, 2) - a tuple is a collection which is ordered and unchangeable. You can use the function `type(your_variable)` to print the variable type.

Hint 2: The `shape` method returns a tuple - convenient!

**Task 4 Test**

In [ ]:
# Task 4 - Test

assert isinstance(adult_dimension, tuple), 'Have you created a tuple named adult_dimension?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 5** - Missing values

Are there any missing values in the dataset? Let's check!

* Check for missing values using `.isnull().sum()`
* Count the number of missing values and assign the value to the variable `adult_missing`. Your variable should be an integer.

In [ ]:
# Task 5

# YOUR CODE HERE
raise NotImplementedError()

**Task 5 Test**

In [14]:
# Task 5 - Test

adult.isnull().sum()

adult_missing = adult.isnull().sum().sum()

print('missing-values', adult_missing)

# Hidden tests - you will see the results when you submit to Canvas

missing-values 0

**Task 6** - Viewing DataFrame statistics

Let's look at some of the *summary statistics* of our dataset. We can use the .describe() function in order to see the summary statistics of the numeric columns.

Look at the statistics for the `adult` DataFrame and then complete the following two tasks:

* Find the value for the mean `age` and assign it to the variable `mean_age` (your value should be a float and defined to two decimal places)
* Find the standard deviation (std) for the `hours-per-week` variable and assign it to `std_hpw` (your value should be a float and defined to two decimal places)

Are there any values shown that might be a code for missing data?  We'll learn how to change the values in a DataFrame in the next module.

In [ ]:
# Task 6

# YOUR CODE HERE
raise NotImplementedError()

**Task 6 Test**

In [16]:
# Task 6 - Test

adult.describe()

mean_age = adult['age'].mean().round(2)
std_hpw = adult['hours-per-week'].std().round(2)


print("Mean Age:", mean_age)
print("Standard Deviation of Hours-Per-Week:", std_hpw)
# Hidden tests - you will see the results when you submit to Canvas

Mean Age: 38.58
Standard Deviation of Hours-Per-Week: 12.35

**Task 7** - Summary statistics for non-numeric columns

We have some columns in this dataset that are non-numeric or object columns. This is usually a string object. Let's use the `describe()` function again but include the argument `exclude='number'` to exclude the numeric columns.

Using the results of `describe(exclude='number')`, complete the following two tasks:

* Find the number of unique `education` values and assign it to `unique_edu` (your value should be an integer)
* Find the number of times the most frequent observation for `income` occurs and assign it to `freq_income` (your value should be an integer) *(Note: this is not the income value itself, just how many times it occurs)*

In [ ]:
# Task 7

# YOUR CODE HERE
raise NotImplementedError()

**Task 7 Test**

In [24]:
# Task 7 - Test


adult.describe( include = 'all')
adult.describe(exclude='number')
non_numeric_description = adult.describe(exclude='number')

unique_edu = non_numeric_description.loc['unique', 'education']

freq_income = non_numeric_description.loc['top', 'income']

print("Number of unique education values:", unique_edu)
print("Number of times the most frequent observation for income occurs:", freq_income)

# Hidden tests - you will see the results when you submit to Canvas

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
count,32561.000000,32561,3.256100e+04,32561,32561.000000,32561,32561,32561,32561,32561,32561.000000,32561.000000,32561.000000,32561,32561
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,22696,NaN,10501,NaN,14976,4140,13193,27816,21790,NaN,NaN,NaN,29170,24720
mean,38.581647,NaN,1.897784e+05,NaN,10.080679,NaN,NaN,NaN,NaN,NaN,1077.648844,87.303830,40.437456,NaN,NaN
std,13.640433,NaN,1.055500e+05,NaN,2.572720,NaN,NaN,NaN,NaN,NaN,7385.292085,402.960219,12.347429,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.178270e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.783560e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.370510e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.484705e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

**Task 8** - Finding value counts

Let's look more specifically at the `relationship` column and perform a count of the number of observations for each category. We can see how many categories we have by using the `.unique()` method on the column. Then, we can use `.value_counts()` to count the number of observations in each category.

* View the unique values in the `relationship` column with `.unique()`
* View the number of observations for each value with `.value_counts()`
* Find the counts for `Other-relative` and assign to the variable `adult_other_rel`

In [ ]:
# Task 8

# YOUR CODE HERE
raise NotImplementedError()

**Task 8 Test**

In [32]:
# Task 8 - Test

# Assuming 'adult' is your DataFrame
unique_relationships = adult['relationship'].unique()

# View unique values in the 'relationship' column
print("Unique values in the 'relationship' column:", unique_relationships)

# View the number of observations for each value
relationship_counts = adult['relationship'].value_counts()
print("\nNumber of observations for each value in the 'relationship' column:\n", relationship_counts)

# Find the counts for 'Other-relative'
adult_other_rel = relationship_counts.get('Other-relative', 0)
print("\nCounts for 'Other-relative':", adult_other_rel)


# Hidden tests - you will see the results when you submit to Canvas

Unique values in the 'relationship' column: [' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']

Number of observations for each value in the 'relationship' column:
  Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64

Counts for 'Other-relative': 0

**Task 9** - Create a Series

A column of a DataFrame is a pandas Series. Using the `adult` DataFrame, create a Series from the `occupation` column.

* Create a Series from the `occupation` column and name it `adult_occup`

In [ ]:
# Task 9

# YOUR CODE HERE
raise NotImplementedError()

In [33]:
# Task 9

# YOUR CODE HERE

# Assuming 'adult' is your DataFrame
adult_occup = adult['occupation']

# Print the resulting Series
print(adult_occup)

0              Adm-clerical
1           Exec-managerial
2         Handlers-cleaners
3         Handlers-cleaners
4            Prof-specialty
                ...
32556          Tech-support
32557     Machine-op-inspct
32558          Adm-clerical
32559          Adm-clerical
32560       Exec-managerial
Name: occupation, Length: 32561, dtype: object

**Task 9 Test**

In [ ]:
# Task 9 - Test

# These tests are for you to check your work before submitting
assert isinstance(adult_occup, pd.Series), 'Have you created the correct Series?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 10** - Practice with a new dataset

Let's use some of what we've learned so far to load in a new dataset and answer some questions. For now, we're going to read in the data from the website where it is stored. But, at the end of this project, you can review the instructions for uploading a file to Google Colab,

* Use [this link (right click to copy)](https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/NASCAR/nascard.csv) as the URL and assign it to the variable `data_url2`
* Read in the data into a DataFrame called `nascar`; the CSV already includes a header

More information about this data can be found [here](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/NASCAR).

In [ ]:
# Task 10

# YOUR CODE HERE
raise NotImplementedError()

In [39]:
# Task 10

# YOUR CODE HERE

data_url2 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/NASCAR/nascard.csv'

nascar =pd.read_csv(data_url2)

nascar.head()

,serRace,year,yearRace,finish,start,laps,prize,carsRace,carMake,driver
0,1,1975,1,1,1,191,12035,35,Matador,BobbyAllison
1,1,1975,1,2,2,191,8135,35,Mercury,DavidPearson
2,1,1975,1,3,25,184,6535,35,Chevrolet,CecilGordon
3,1,1975,1,4,27,183,5035,35,Dodge,DaveMarcis
4,1,1975,1,5,22,178,3835,35,Ford,ElmoLangley
5,1,1975,1,6,35,175,2885,35,Chevrolet,JamesHylton
6,1,1975,1,7,3,172,3185,35,Dodge,RichardPetty
7,1,1975,1,8,21,168,2485,35,Chevrolet,GaryMatthews
8,1,1975,1,9,33,167,2335,35,Dodge,EdNegre
9,1,1975,1,10,10,166,2185,35,Chevrolet,HershelMcGriff

**Task 10 Test**

In [ ]:
# Task 10 - Test

# These tests are for you to check your work before submitting
assert isinstance(nascar, pd.DataFrame), 'Have you created the nascar DataFrame?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 11** - Look at the header

Now, let's look at the data. We'll use the `.head()` method to view the first rows of the DataFrame

* Assign the output from `.head()` to a DataFrame called `nascar_head` (use the default values of the method)

In [ ]:
# Task 11

# YOUR CODE HERE
raise NotImplementedError()

In [44]:
# Task 11

# YOUR CODE HERE

nascar_head = nascar.head()

print(nascar_head)

   serRace  year  yearRace  finish  start  laps  prize  carsRace    carMake  \
0        1  1975         1       1      1   191  12035        35    Matador
1        1  1975         1       2      2   191   8135        35    Mercury
2        1  1975         1       3     25   184   6535        35  Chevrolet
3        1  1975         1       4     27   183   5035        35      Dodge
4        1  1975         1       5     22   178   3835        35       Ford

         driver
0  BobbyAllison
1  DavidPearson
2   CecilGordon
3    DaveMarcis
4   ElmoLangley

**Task 11 Test**

In [ ]:
# Task 11 - Test

# These tests are for you to check your work before submitting
assert isinstance(nascar_head, pd.DataFrame), 'Have you created the nascar_head DataFrame?'

# Hidden tests - you will see the results when you submit to Canvas

**Task 12** - Dataset description and variable types

Using your `nascar` DataFrame, answer the following questions. Remember - you can use methods like `describe()` and `info()` to print out information about the variable types in your DataFrame. Remember, you can use `describe(exclude='number')` to view non-numeric variable types.

You can view more information about the data [here](http://users.stat.ufl.edu/~winner/data/nascard.txt).

Select the letter indicating which one of the following statements about the features in `nascar` is incorrect?  For example, if statement B is incorrect, you'll type your answer in the code block as `answer = 'B'`


A: Each entry for `driver` is a text string

B: `carMake` is an identifer variable


C: `carsRace` is a quantitative, discrete variable


D: `prize` is a quantitative, continuous variable

In [ ]:
# Task 12

# Ignore the YOUR CODE HERE for this cell
# YOUR CODE HERE
raise NotImplementedError()

In [45]:
nascar.describe()

,serRace,year,yearRace,finish,start,laps,prize,carsRace
count,34884.000000,34884.000000,34884.000000,34884.000000,34884.000000,34884.000000,3.488400e+04,34884.000000
mean,468.597151,1990.027950,16.175811,20.203102,20.205510,261.924120,2.704011e+04,39.406146
std,259.245275,8.523917,9.133874,11.645944,11.648361,140.104744,4.455498e+04,4.348333
min,1.000000,1975.000000,1.000000,1.000000,1.000000,0.000000,0.000000e+00,22.000000
25%,247.000000,1983.000000,8.000000,10.000000,10.000000,159.000000,3.835000e+03,37.000000
50%,478.000000,1991.000000,16.000000,20.000000,20.000000,253.000000,1.201000e+04,41.000000
75%,696.000000,1998.000000,24.000000,30.000000,30.000000,390.000000,3.649625e+04,43.000000
max,898.000000,2003.000000,36.000000,50.000000,58.000000,500.000000,2.277975e+06,50.000000

In [46]:
nascar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34884 entries, 0 to 34883
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   serRace   34884 non-null  int64
 1   year      34884 non-null  int64
 2   yearRace  34884 non-null  int64
 3   finish    34884 non-null  int64
 4   start     34884 non-null  int64
 5   laps      34884 non-null  int64
 6   prize     34884 non-null  int64
 7   carsRace  34884 non-null  int64
 8   carMake   34884 non-null  object
 9   driver    34884 non-null  object
dtypes: int64(8), object(2)
memory usage: 2.7+ MB

In [ ]:
# Task 12

# Ignore the YOUR CODE HERE for this cell
# YOUR CODE HERE

B

In [ ]:
# Task 12 - Test

# Hidden tests - you will see the results when you submit to Canvas

**Extra Practice!!**

Now we're going to practice loading a dataset that you have saved on your computer. Since we're working in a notebook on Google Colab, you'll need to upload your file to the notebook runtime in order to read in the data.

* Use [this link](https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/NASCAR/nascard.csv) to download your dataset as a csv file to your computer.
* Upload to Google Colab one of two ways:
    * using `from google.colab import files` then `uploaded = files.upload()`; read in the file with pd.read_csv(filename)
    * using the file upload feature in the left side panel of the Colab notebook; read in the file with pd.read_csv(filename)

More information about this data can be found [here](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/NASCAR).

**DELETE or COMMENT OUT your Colab code**

In [ ]:
# Extra Practice

## DELETE OR COMMENT OUT YOUR COLAB CODE BEFORE SUBMITTING THE NOTEBOOK