<a href="https://colab.research.google.com/github/A-ops-lang/Assignmnet1/blob/main/Variables_and_Datatypes_Assignments_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
myint=7
print(myint)

7

In [2]:
myfloat=7.0
print(myfloat)

7.0

In [3]:
myfloat==float(7)
print(myfloat)

7.0

Mystrings

In [5]:
mystrings='hello'
print(mystrings)

hello

In [6]:
mystrings="hello"
print(mystrings)

hello

In [ ]:
one = 1

two = 2

three = one + two

print(three)

hello = "hello"

world = "world"

helloworld = hello + " " + world

print(helloworld)

Assignments can be done on more than one variable "simultaneously" on the same line like this

a, b = 3, 4

print(a, b)

Mixing operators between numbers and strings is not supported:

one = 1

two = 2

hello = "hello"

print(one + two + hello)

In [7]:
one=1
two=2
three= one +two
print(three)

3

In [10]:
hello="hello"
world="world"
Hello_World= hello +""+ world
print(Hello_World)

helloworld

In [14]:
a, b = 3, 4

print(a, b)

3 4

In [18]:
hello , world ="helllo" , "World"

print(world)

World

In [27]:
one = 1

two = 2

hello = "hello"

print(one , two , hello)

1 2 hello

In [ ]:
# change this code

mystring = None

myfloat = None

myint = None

# testing code

if mystring == "hello":

  print("String: %s" % mystring)

if isinstance(myfloat, float) and myfloat == 10.0:

  print("Float: %f" % myfloat)

if isinstance(myint, int) and myint == 20:

  print("Integer: %d" % myint)

In [34]:
mystring = 'hello'

myfloat = 10.0

myint = 20

if mystring == 'hello':

  print("String : %s" % mystring)

if isinstance( myfloat , float) and myfloat == 10.0:

   print("float : %f " % myfloat)

if isinstance(myint , int)  and myint == 20:

   print('integer : %d' % myint)

String : hello
float : 10.000000
integer : 20